{% extends "base.html" %}
{% comment %} {% load form_extras %} {% endcomment %}
{% block title %}Login · Chef Booking{% endblock %}
{% block content %}
<div  class="row py-4 justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h3 class="mb-3">Login</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
          {% endif %}

          <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.username }}
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            {{ form.password }}
          </div>

          {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}

          <button class="btn btn-primary w-100" type="submit">Login</button>
        </form>

        <div class="d-flex justify-content-between mt-3">
          <a href="{% url 'password_reset' %}">Forgot password?</a>
          <a href="{% url 'signup' %}{% if next %}?next={{ next }}{% endif %}">Create account</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
